// <<---------------Fonts and Colors---------------->>

@import 'https://fonts.googleapis.com/css?family=Lato:300,400,900';

$header-color: #fff;
$body-color: #4a4a4a;
$highlight-color: #1cbeec;
$light-grey: #f6f6f6;

// <<---------------Basic Setup---------------->>

//font size set to 10px for easier em conversion
body {
  background-color: #fff;
  box-sizing: border-box;
  color: $body-color;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

h1, h3, h4, h5, h6 {
  text-align: center;
}

h1 {
  color: $light-grey;
  font-size: 18.0em;
  font-weight: 900;
  letter-spacing: 2px;
  padding-top: 30px;
  opacity: 0;

}

//font-size: 72px
//line-height: 70px
h2 {
  color: $header-color;
  font-size: 7.2em;
  font-weight: 900;
  line-height: 1;
  text-align: left;
}

//font-size: 42px
h3 {
  color: $body-color;
  font-size: 4.2em;
  font-weight: 300;
  letter-spacing: 2.5px;
}

h3:after {
    background-color: $highlight-color;
    content: " ";
    display: block;
    height: 3px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 15px;
    width: 30px;
}

//font-size: 26px
h4 {
  color: $body-color;
  font-size: 2.6em;
  font-weight: 300;
  margin: 100px 0 50px 0;
}

//font-size: 42px
h5 {
  color: $body-color;
  font-size: 2.4em;
  font-weight: 400;
  letter-spacing: 2.5px;
  text-align: left;
}

//font-size: 42px
h6 {
  color: $body-color;
  font-size: 2.0em;
  font-weight: 400;
  letter-spacing: 2.5px;
  text-align: left;
}

//font size 16px
p, ol {
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 0;
  text-align: left;
}

.center-text {
  text-align: center;
}

// <<---------------Header---------------->>

.hero {
  background: url('../images/bg-nyc.png') no-repeat center bottom;
  background-size: cover;
  height: 100vh;
  &:before {
    content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
  }
  .intro {
    margin-top: 25%;
    position: relative;
    top: 50%;
    h1 {
      color: $header-color;
    }
    p {
      color: $header-color;
      font-size: 1.8em;
    }
  }
}

.logo {
  height: auto;
  margin-top: 5%;
  width: 12em;
}


// <<---------------SECTIONS---------------->>

.section-header {
  margin-top: 150px;
  img {
    display: block;
    height: 40px;
    margin: 0 auto;
  }
}
.underlay {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: -1;
}

.section-border {
  border-bottom: 2px solid $light-grey;
  position: relative;
  padding-bottom: 100px;
}

.section-text {
  margin-top: 50px;
}

// <<---------------Nav------------------->>


.breadcrumb {
  background-color: #fff;

  li {
    color: $body-color;
    font-size: 1.4em;
    padding-bottom: 5px;
  }

  li + li:before {
    color: $body-color;
    content: " ";
    background: url('../images/icon-caret-right.svg') no-repeat center center;
    background-size: .5em;
    padding: 0 20px;
  }

  .active span {
    border-bottom: 2px solid $highlight-color;
    color: $body-color;
    padding-bottom: 10px;
  }
}

// <<---------------Categories---------------->>

.container-flex {
  align-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-item {
  border-radius: 5px;
  -moz-box-shadow: 0 0 5px #b7b7b7;
  -webkit-box-shadow: 0 0 5px #b7b7b7;
  box-shadow: 0 0 5px #b7b7b7;
  padding: 5px;
  width: 175px;
  height: 150px;
  margin: 10px;

  color: white;
  font-weight: 300;
  font-size: 1.4em;
  text-align: center;

  a {
    color: #fff;
    img {
      padding: 40px 0 35px 0;
      height: 130px;
      width: auto;
    }
  }

  button {
    background-color: $highlight-color;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    padding: 1px;
    width: 130px;
  }

}

// <<---------------Airports---------------->>


// <<---------------Cabs---------------->>
ol {
  padding-left: 40px;
}



// <<---------------Footer---------------->>
