@import "https://fonts.googleapis.com/css?family=Lato:300,400,900";
body {
  background-color: #fff;
  box-sizing: border-box;
  color: #4a4a4a;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 26px;
  margin: 0;
  padding: 0; }

h1, h3, h4, h5, h6 {
  text-align: center; }

h1 {
  color: #f6f6f6;
  font-size: 18.0em;
  font-weight: 900;
  letter-spacing: 2px;
  padding-top: 30px;
  opacity: 0; }

h2 {
  color: #fff;
  font-size: 7.2em;
  font-weight: 900;
  line-height: 1;
  text-align: left; }

h3 {
  color: #4a4a4a;
  font-size: 4.2em;
  font-weight: 300;
  letter-spacing: 2.5px; }

h3:after {
  background-color: #1cbeec;
  content: " ";
  display: block;
  height: 3px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 15px;
  width: 30px; }

h4 {
  color: #4a4a4a;
  font-size: 2.6em;
  font-weight: 300;
  margin: 100px 0 50px 0; }

h5 {
  color: #4a4a4a;
  font-size: 2.4em;
  font-weight: 400;
  letter-spacing: 2.5px;
  text-align: left; }

h6 {
  color: #4a4a4a;
  font-size: 2.0em;
  font-weight: 400;
  letter-spacing: 2.5px;
  text-align: left; }

p, ol {
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 0;
  text-align: left; }

.center-text {
  text-align: center; }

.hero {
  background: url("../images/bg-nyc.png") no-repeat center bottom;
  background-size: cover;
  height: 100vh; }
  .hero:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .hero .intro {
    margin-top: 25%;
    position: relative;
    top: 50%; }
    .hero .intro h1 {
      color: #fff; }
    .hero .intro p {
      color: #fff;
      font-size: 1.8em; }

.logo {
  height: auto;
  margin-top: 5%;
  width: 12em; }

.section-header {
  margin-top: 150px; }
  .section-header img {
    display: block;
    height: 40px;
    margin: 0 auto; }

.underlay {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: -1; }

.section-border {
  border-bottom: 2px solid #f6f6f6;
  position: relative;
  padding-bottom: 100px; }

.section-text {
  margin-top: 50px; }

.breadcrumb {
  background-color: #fff; }
  .breadcrumb li {
    color: #4a4a4a;
    font-size: 1.4em;
    padding-bottom: 5px; }
  .breadcrumb li + li:before {
    color: #4a4a4a;
    content: " ";
    background: url("../images/icon-caret-right.svg") no-repeat center center;
    background-size: .5em;
    padding: 0 20px; }
  .breadcrumb .active span {
    border-bottom: 2px solid #1cbeec;
    color: #4a4a4a;
    padding-bottom: 10px; }

.container-flex {
  align-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.flex-item {
  border-radius: 5px;
  -moz-box-shadow: 0 0 5px #b7b7b7;
  -webkit-box-shadow: 0 0 5px #b7b7b7;
  box-shadow: 0 0 5px #b7b7b7;
  padding: 5px;
  width: 175px;
  height: 150px;
  margin: 10px;
  color: white;
  font-weight: 300;
  font-size: 1.4em;
  text-align: center; }
  .flex-item a {
    color: #fff; }
    .flex-item a img {
      padding: 40px 0 35px 0;
      height: 130px;
      width: auto; }
  .flex-item button {
    background-color: #1cbeec;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    padding: 1px;
    width: 130px; }

ol {
  padding-left: 40px; }

/*# sourceMappingURL=zebra.css.map */
